.container {
 background-color: #808080;
}
#div_input_name {
        /* display: none; */
}

#div_chat_page {
    height: 600px;
    overflow:auto; 
    border-radius: 10px;
    background-color: #FFF;
}

.div_chat_page {
    display: none;
}

#div_group_messages {
    margin-bottom: 0px;
}
#chatList {
    background-color: #e9ecef;
    overflow-y: scroll;
}

#group_chat {
    padding: 20px;
}