
#div_input_name {
        /* display: none; */
}

#div_chat_page {
    height: 600px;
    overflow:auto; 
}

.div_chat_page {
    display: none;
}

#div_group_messages {
    margin-bottom: 0px;
}

.chatList {
    flex: 1;
    background-color: #FFF;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}